{% extends "layouts/base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<h1>Test title in roboto</h1>

	<p>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat dolorum odit fugiat suscipit alias exercitationem! In sit pariatur ut, aliquam corrupti sed officiis voluptate nisi veritatis id, a consectetur tenetur.
	</p>
{% endblock %}
