{% extends "layouts/base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/alert.js') }}"></script> 
{% endblock %}

{% block body %}
	<h1>Some legal stuff then</h1>

	<p>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat dolorum odit fugiat suscipit alias exercitationem! In sit pariatur ut, aliquam corrupti sed officiis voluptate nisi veritatis id, a consectetur tenetur.
	</p>
{% endblock %}
