{% extends "layouts/base.html.twig" %}
{% block title %}
	Liste
{% endblock %}

{% block body %}
	<h1>Liste</h1>
	{{dump( wishList)}}
	<p>
		{# Conditionnelle d'affichage sur le nombre de voeux #}
		<br> La liste de souhait comporte [NombreDeVoeux] voeux.
		<br>						
		<br> Les voicis :
		<ul>
			{% for wish in wishList %}
				<a href="/detail"><li>{{ wish.title}}
					{# <ul>
						<li>{{wish.author}}</li>
						<li>{{wish.description}}</li>
					</ul> #}
				</li></a>
			{% endfor %}
		</ul>
	</p>
{% endblock %}
